body {
    background-color: yellow;
}
.header {
    background-color: white;
    width: 70%;
    height: 1000px;
    border: 2px black;
    margin: auto;
    margin-top: 50px;
}

.circle {
    width: 40%;
    display: inline-block;;
}

img {
    width: 150px;
    height: 150px;
}